body {
    margin: 0;
    color: #000;
    background-image: url(https://images2.imgbox.com/5c/94/cRI9ZkrR_o.png);
    background-repeat: repeat-y;
    background-size: 100vw;
}

p, li, .link-footer {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Londrina shadow', cursive;
}

#header {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FFF;
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    border-radius: 5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    opacity: 50%;
}

#foto-fof {
    height: 3rem;
}

#start-main {
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/3093932-cartoon-natureza-floresta-cenario-gr%C3%A1tis-vetor.jpg);
    margin-left: 5rem;
    margin-right: 5rem;
    background-repeat: no-repeat;
    box-shadow: 1rem 0 2rem #000;
    margin-top: -5rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    border-radius: 5rem;
}

#start-main h1 {
    color: rgb(255, 255, 255);
    width: 17rem;
    font-size: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-lontra {
    height: 30rem;;
    margin-top: -2rem ;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 0.1rem 0.1rem 0.3rem rgb(19, 17, 17); 
}

h1, h2 {
    text-align: center;
}

aside h1 {
    font-size: 2.5rem;
    margin: 1rem;
}

aside {
  border: solid;
  border-color: #000;
  border-radius: 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem #000;
  background-color: rgb(241, 225, 154);
  padding: 0rem 1rem 1rem 1rem;
  margin: 5rem;
  text-indent: 1.5rem;
  text-align: justify;
  font-size: 1.2rem;
}

#curiosidades p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

#c1 {
    background-color: rgb(223, 208, 144);
    padding: 1rem;
}

#c2 {
    background-color: rgb(207, 193, 134);
    padding: 1rem;
}

footer {
    padding-top: 1.3rem;
    background-color: #f3b56d;
    border-style: solid;
    border-color: #8b683f;
    border-radius: 1rem 1rem 0rem 0rem;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer img {
    height: 2rem;
}

footer div {
    opacity: 60%;
    width: 12.71rem;
    padding: 0 2rem;
    margin: 0 auto;
    font-size: 0.9rem;
}

footer p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9rem;
}